div#widget{
    font-family: 'Roboto', sans-serif;
    width: 345px;
    border: solid #dedcde 1px;
    padding: 16px;
}


div#widget a {
    width: 128px;
    height: 16.5px;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.5px;
    text-align: right;
    color: #276cf2;
    text-decoration: none;
    position: absolute;
    right: 0;
    bottom: 0;
}

div.widget-header h1{
    width: 118.5px;
    height: 28.5px;
    font-size: 24px;
    font-weight: 300;
    display: inline;
    color: #3b3f47;
}

div.widget-header h3{
    width: 149.5px;
    height: 16.5px;
    font-size: 14px;
    letter-spacing: 0.5px;
    color: #6b6b6b;
    margin: 10px 0;
}

div.widget-content {
	margin-top: 15px;
    width: 343px;
    height: 156px;
    border-radius: 2.5px;
    background-color: #f2f3f5;
    position: relative;
    overflow: hidden;
}

div.widget-content h3{
    width: 206px;
    height: 20px;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.4px;
    margin: 0 0 10px 0;
}

div.movie-details{
  	width: 238px;
    height: 156px;
  	position: absolute;
  	padding: 16px;
}

div.movie-details div#desc-container{
	margin: 0 0 10px 0;
	width: 206px;
    height: 72px;
    font-family: Roboto;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: 0.5px;
    color: #6b6b6b;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

div.movie-details .star{
  	width: 12.4px;
  	height: 11.8px;
}

div.img-content {
  	width: 105px;
  	height: 156px;
  	background-color: #bd10e0;
  	position: absolute;
    right: 0;
}

div.img-content img {
	width: 100%;
}
div#nav-controls{
	margin: 10px auto 0;
	text-align: center;
}

div#nav-controls ol{
    list-style:none;
    margin-top: 10px;
    padding: 0px;
    display: inline;
}

div#nav-controls ol li{
    margin:0 2px; 
    border-radius: 50%;
    display: inline-block;
    width:6px;
    height:6px;
    cursor: pointer;
    border: solid 1px #979797;
}

li.active{
    background: #888;
}